<div style=" position: block; text-align: center; color: white;
    text-shadow: 2px 2px 17px #000000; font-family: "Times New Roman", Times, serif; font-size:18px;">
        <h2>About us</h2>
        <p>This wiki was created by: Miroslav Stoyanov </p>
        <p>Staff ID: 51663927</p>
        <p>Student at the University of Aberdeen</p>
        <p>E-mail: hard_system@abv.bg</p>
        
</div>





<div id="map" style="width:50%;height:400px; margin-left: 25%; text-align: center; border-radius: 14px; margin-bottom: 20px;"></div>

<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(57.16, -2.10), 
    zoom: 13
  }
  var map = new google.maps.Map(mapCanvas, mapOptions);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
<div style=" float: right; margin-top: -50px; padding: 0px;border: 0;box-shadow: 0;display: inline;">
<a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a><a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a></div>