<div style="color:white; text-align: center;">
<h2 style="color: red;"> Failed! </h2>
<h2>The account name already exists or you wrote an account name with less than 5 or more than 12 characters!</h2>

</div>
